/* IMPORTANT STYLES */

* {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	outline: none;
}

body {
	font-size: 1rem;
	background: #FFFFFF;
	color: #262C40;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: underline;
	color: #262C40;
}

p {
	display: block;
	font-size: 1rem;
	font-weight: 400;
	padding: 0;
	margin: 0 0 .5rem 0;
}

h1, h2,
h3, h4,
h5, h6 {
	display: block;
	padding: 0;
	margin: 0 0 .5rem 0;
	line-height: 1.2;
	font-weight: 500;
}

h1 {
	font-size: 3rem;
	font-weight: 500;
}
h2 {
	font-size: 2rem;

}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

ul {
	display: block;
	padding: 0 0 0 16px;
	margin: 0;
}
li {
	padding-bottom: 5px;
	line-height: 2rem;
}

.fatty-text {
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.shadow {
	-moz-box-shadow: 0 6px 16px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 6px 16px rgba(0,0,0,0.1);
	-o-box-shadow: 0 6px 16px rgba(0,0,0,0.1);
	box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}
.glow {
	-moz-box-shadow: 0 6px 25px rgba(51, 170, 224, 0.5);
	-webkit-box-shadow: 0 6px 25px rgba(51, 170, 224, 0.5);
	-o-box-shadow: 0 6px 25px rgba(51, 170, 224, 0.5);
	box-shadow: 0 6px 25px rgba(51, 170, 224, 0.5);
}
.glow_purple {
	-moz-box-shadow: 0 6px 25px rgba(153, 27, 222, 0.5);
	-webkit-box-shadow: 0 6px 25px rgba(153, 27, 222, 0.5);
	-o-box-shadow: 0 6px 25px rgba(153, 27, 222, 0.5);
	box-shadow: 0 6px 25px rgba(153, 27, 222, 0.5);
}



.color-black {
	color: #2A3338;
	fill: #2A3338;
}
.color-gray {
	color: #3D4A52;
	fill: #3D4A52;
}
.color-white {
	color: #FFFFFF;
	fill: #FFFFFF;
}
/* /MAIN STYLES */

/* МОЯ НЕДОРАЗМЕТКА */

.container {
	display: flex;
	width: 100%;
	max-width: 75rem;
	margin: 0 auto;
}

#container-toolbar {
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

#container-about {
	justify-content: space-between;
	flex-direction: row;
}

#container-hello {
	justify-content: space-between;
	flex-direction: row;
}

.col-content {
	justify-content: center;
	align-items: flex-start;
}

.col-sctn {
	flex-direction: column;
	justify-content: center;
}

.col-sctn-case {
	width: 90%;
}

.col-footer {
	flex-direction: row;
	justify-content: space-between;
}

/* /МОЯ НЕДОРАЗМЕТКА */

/* BUTTON STYLES */
.but {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	padding: 14px 22px;
	min-width: 80px;
	outline: none;
}
.but:hover {
	color: #ffffff;
	fill: #ffffff;
	text-decoration: none;
}
.but:active {
	color: #ffffff;
	fill: #ffffff;
	transform: translateY(3px);
	text-decoration: none;
}
.but:visited {
	color: #ffffff;
	fill: #ffffff;
	text-decoration: none;
}

.but_icon {
	min-width: 24px;
	padding: 10px 16px;
}

.but_purple {
	background-color: #991bde;
	color: #faf0ff;
	fill: #faf0ff;
}
.but_purple:hover {
	text-decoration: none;
	background: #b122ff;
}

.but_red {
	background-color: #EB4343;
	color: #fff;
	fill: #fff;
}
.but_red:hover {
	text-decoration: none;
	background: #D63A3A;
}


.but_blue {
	background-color: #33aae0;
	color: #ffffff;
	fill: #ffffff;
}
.but_blue:hover {
	background: #47c2fa;
}

.but_white {
	color: #3d4a52;
	fill: #3d4a52;
	box-shadow: none;
}
.but_white:hover {
	background-color: #ffffff;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.but_first {
	margin: 0 15px 0 0;
}
/* ***************** */

.tr-03s {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.tr-1s {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}



/* ***************** */

.toolbar {
	display: flex;
	width: 100%;
	height: 5rem;
	background-color: #111213;
	position: fixed;
	z-index: 10;
}

.logo {
	display: block;
	outline: none;
}

.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 69px;
}
.menu a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	outline: none;
	text-decoration: none;
	margin-right: 72px;
	line-height: 69px;
	position: relative;
	color: #B1B1B1;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.8rem;
}
.menu a:hover {
	color: #eee;
}
.menu a:last-child {
	margin: 0;
}
#menu__icon {
	margin-right: 30px;
}
#menu__icon:last-child {
	margin:0;
}

.menu__link_icon {
	line-height: 86px;
	padding: 0 0;
	min-width: 48px;
	margin: 0;
}
.menu__link_active .menu__link-border {
	opacity: 1;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#draw-orbits {
	background: url(../img/orbits.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100%;
	position: relative;
	display: flex;
	order: 0;
}
#draw-orbits img {
	position: absolute;
    width: 433px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -30px;
    border-bottom-right-radius: 100px;
}
#draw-incontact {
	background: url(../img/undraw3.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	order: 1;
}

.section-about {
	background: url(../img/icons/dotted.png);
	background-repeat: no-repeat;
	background-position: 78% 0%;
	min-height: 80vh;
}
.section-about__article {
	display: flex;
	flex-direction: column;
	/* width: 40%; */
	padding-bottom: 60px;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	/* padding: 0 60px; */
}
.section-about__article h1 {
	padding: 0 0 3rem 0;
}

.section-about__article p {
	font-size: 1.5rem;
	font-weight: 400;
}

.section-about__article ul {
	font-size: 1.5rem;
	padding: 0;
	margin: 0;
}
.section-about__article ul li {
	line-height: 42px;
	height: 48px;
	list-style: none;
	margin: 0 0 3rem 0;
	padding: 0 0 0 64px;
}

.section-about__article ul li.section-about__article__li-landing {
	background: url(../img/icons/skills/landing.svg);
	background-repeat: no-repeat;
	background-position: left center;
}

.section-about__article ul li.section-about__article__li-logo {
	background: url(../img/icons/skills/logo.svg);
	background-repeat: no-repeat;
	background-position: left center;
}

.section-about__article ul li.section-about__article__li-html {
	background: url(../img/icons/skills/code.svg);
	background-repeat: no-repeat;
	background-position: left center;
}

.section-about__article ul li.section-about__article__li-mobile {
	background: url(../img/icons/skills/mobile.svg);
	background-repeat: no-repeat;
	background-position: left center;
}

.section-article__desc {
	line-height: 24px;
	padding: 20px 0;
}
.section-article__buttons {
	height: 54px;
	margin-top: 10px;
}

.section-header {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin: 3rem 0 3rem 0;
}

.section-cases {
	padding: 3rem 0 60px 0;
}
#dark-sctn {
	background-color: #111213;
	color: #eee;
}
.section-hello {
	/* min-height: 92vh; */
	background: url(../img/icons/dotted.png);
	background-repeat: no-repeat;
	background-position: 10% 20%;
	padding: 12rem 0;
}
.section-hello__text {
	/* width: 50%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
}
.section-hello__text h1 {
	font-size: 4rem;
	font-weight: 600;
	padding: 0 0 3rem 0;
}
.section-hello__draw {
	display: flex;
	/* width: 45%; */
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
	flex-basis: 0;
	flex-shrink: 1;
}
.section-hello__draw img {
	max-width: 90%;
	/* float: right; */
}
#section-hello__draw-men {
	background: url(../img/icons/imghi.svg);
	background-repeat: no-repeat;
	background-position: right;
	order: 1;
    height: 490px;
}


.section-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.section-content-case {
	height: 100%;
	display: grid;
	justify-content: space-between;
	align-content: space-between;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px
}

.cards {
	display: flex;
	flex-direction: row;
}

.card {
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	max-height: 384px;
	padding: 3.2rem 2.8rem;
	align-items: flex-start;
	color: #2e2e2e;
	border-radius: 6px;
}
.card h3 {
	width: 70%;
	font-weight: 600;
	margin-bottom: 1.5rem;
}
.card p {
	width: 70%;
	margin-bottom: 2.5rem;
}

.but-black {
	background-color: #161718;
	color: #fff;
	fill: #fff;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
}

.card__dribbble {
	background-color: #FAE6F4;
	color: #2E2E2E;
	background-image: url(../img/cards/dribbble-logo.svg);
	background-repeat: no-repeat;
	background-size: 90% 90%;
	background-position: 15rem center;
	margin-right: 2rem;
}
.card__dribbble:hover, .card__vkontakte:hover {
	background-size: 95% 95%;
	background-position: 14rem center;
}
.card__vkontakte {
	background-color: #ECF5F6;
	color: #2E2E2E;
	background-image: url(../img/cards/vk-logo.svg);
	background-repeat: no-repeat;
	background-size: 90% 90%;
	background-position: 15rem center;
}

.section-block {
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.section-block a {
	text-decoration: none;
}

.section-block img {
	width: 100%;
	display: block;
	border-radius: 6px;
}

.section-block__title {
	display: block;
	padding: 24px 0;
}

.section-block__title span {
	background: #33aae0;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	font-size: 0.8rem;
	margin-right: 5px;
	margin-top: 8px;
	padding: 5px;
	border-radius: 5px;
}
.section-block__title p {
	font-size: 0.8rem;
	color: #727272;
}

.section-block:hover .section-block__title {
	opacity: 1;
}

.themodal-lock {
	overflow: hidden;
}

.themodal-overlay {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 2;
	display: block;
	background: rgba(0,0,0,0.8);
}

.modal {
	background: #ffffff;
	width: 800px;
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 48px;
	left: 0;
	right: 0;
	margin: auto;
}

.modal-img {
	display: block;
	overflow: hidden;
	position: relative;
}

.modal-img a:hover {
	cursor: zoom-in;
}

.modal-img span {
	font-size: 85%;
	color: #414141;
	display: block;
	text-align: right;
	padding: 10px 20px;
	cursor: default;
}

.modal-img img {
	width: 100%;
}

.modal-header {
	background: #ffffff;
	color: #08151E;
	padding: 35px;
}

.modal-header__title {
	margin-bottom: 5px;
	font-family: "Montserrat-Bold";
}

.modal-header span {
	cursor: default;
	background: #33aae0;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	font-size: 80%;
	margin-right: 5px;
	margin-top: 8px;
	padding: 5px;
	border-radius: 5px;
}


.footer {
	min-height:300px;
	background-color: #2A3338;
	background-image: url(../img/pattern.png);
}

.touch-menu {
	fill: #2a3338;
	pointer-events: none;
	display: none;
}

#touch-menu {
	opacity: 1;
	pointer-events: none;
	position: fixed;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 2;
	display: block;
	background: #2a3338;
	transition: all .5s ease;
	transform: translateX(100%);
}

.touch-menu__close {
	background: #2a3338;

}

#touch-menu:target {
	pointer-events: auto;
	opacity: 1;
	transform: translateX(0);
}
#touch-menu nav {
	display: block;
}
#touch-menu nav a {
	text-decoration: none;
	font-size: 1.4rem;
	color: #fff;
	transform: translateX(100%);
	padding: 30px 0 30px 90px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	outline: none;
	display: block;
	text-transform: uppercase;

}
#touch-menu:target nav a {
	transform: translateX(0);
}

#touch-menu nav a:visited {
	color: #fff
}
#touch-menu__about {
	background: url(../img/icons/size-24x24/account.svg) no-repeat;
	background-position: 30px 50%;
		-webkit-transition: all 0.55s;
	-moz-transition: all 0.55s;
	-o-transition: all 0.55s;
	transition: all 0.55s;
}
#touch-menu__case {
	background: url(../img/icons/size-24x24/case.svg) no-repeat;
	background-position: 30px 50%;
		-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
}
#touch-menu__contact {
	background: url(../img/icons/size-24x24/contact.svg) no-repeat;
	background-position: 30px 50%;
	-webkit-transition: all 0.85s;
	-moz-transition: all 0.85s;
	-o-transition: all 0.85s;
	transition: all 0.85s;
}

@media (max-width: 1366px) {
	.col-sctn-about {
		padding: 90px 0;
	}
}

@media (max-width: 1280px) {
	.col {
		width: 95%;
	}
}
@media (max-width: 1020px) {
	.section-content-case {
		grid-template-columns: 49% 49%;
	}
}

@media (max-width: 870px) {

	.col-sctn-about {
		flex-direction: column;
	}
	.modal {
		width: 100%;
	}
	.section-article {
		width: 100%;
	}
	.section-draw, #draw-men, #draw-incontact {
		height: 302px;
		width: 100%;
		order: -1;
		margin-bottom: 3rem;
	}

	.content {
		justify-content: center;
	}

	.touch-menu {
		display: block;
		pointer-events: auto;
	}
	#toolbar-menu {
		display: none
	}

	.section-content {
		width: auto;
	}
	.section-header__subtitle {
		width: 90%;
	}

	.footer-article {
		text-align: center;
	}
	.footer-content {
		margin-top: 20px;
	}

	.col-footer {flex-direction: column;}
	.but_first {margin: 0 15px 0 0;}
}
@media (max-width: 480px) {
	.but_first {margin: 0 0 15px 0;}
	.section-content {
		flex-direction: column;
	}
	.contact-block {
		margin-bottom: 15px;
	}
	.modal {
		top: 100px;
		width: 100%;
		border-radius: 0;
	}
	.section-content-case {
		grid-template-columns: 100%;

	}

	.toolbar {
		background-position-x: center;
	}
	.col-toolbar {
		transition: none;
		padding: 10px;
	}
	.col-sctn {
		padding: 0 0 40px 0;
	}
	.col {
		width: 90%;
	}
	.col-sctn-about {
		padding: 50px 0;
	}
	.section-article {
		width: auto;
	}
	#sctn-contact {
		padding: 30px 0;
	}
	#sctn-case {
	    padding: 0;
	}

	.section-header {
		margin-bottom: 20px;
	}
}
